/* line 18, ../sass/jqcloud.scss */
.jqcloud {
  font: 10px "Helvetica", "Arial", sans-serif;
  line-height: normal;
  overflow: hidden;
  position: relative;
}

/* line 25, ../sass/jqcloud.scss */
.jqcloud-word {
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w1 {
  color: #aab5f0;
  font-size: 100%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w2 {
  color: #99ccee;
  font-size: 150%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w3 {
  color: #a0ddff;
  font-size: 200%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w4 {
  color: #90c5f0;
  font-size: 250%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w5 {
  color: #90a0dd;
  font-size: 300%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w6 {
  color: #90c5f0;
  font-size: 350%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w7 {
  color: #3399dd;
  font-size: 400%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w8 {
  color: #00ccff;
  font-size: 450%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w9 {
  color: #00ccff;
  font-size: 500%;
}
/* line 30, ../sass/jqcloud.scss */
.jqcloud-word.w10 {
  color: #00ccff;
  font-size: 550%;
}
/* line 36, ../sass/jqcloud.scss */
.jqcloud-word a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
/* line 41, ../sass/jqcloud.scss */
.jqcloud-word a:hover {
  color: #00ccff;
}
