/* line 3, ../sass/_in-recherche.scss */
input.autocomplete {
  width: 430px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
  -webkit-appearance: none;
  max-width: 100%;
  border: 0 none;
  padding: 0 6px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 38px;
  overflow: visible;
}
/* line 25, ../sass/_in-recherche.scss */
input.autocomplete::-moz-placeholder, input.autocomplete::-ms-input-placeholder, input.autocomplete::-webkit-input-placeholder {
  opacity: 1;
  color: #999;
}
/* line 31, ../sass/_in-recherche.scss */
input.autocomplete:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}
/* line 37, ../sass/_in-recherche.scss */
input.autocomplete.tt-hint {
  color: #999;
}

/* line 42, ../sass/_in-recherche.scss */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 48, ../sass/_in-recherche.scss */
.tt-menu {
  text-align: left;
  width: 430px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 58, ../sass/_in-recherche.scss */
.tt-suggestion {
  padding: 3px;
}

/* line 64, ../sass/_in-recherche.scss */
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

/* line 70, ../sass/_in-recherche.scss */
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* line 75, ../sass/_in-recherche.scss */
.tt-suggestion p {
  margin: 0;
}

/* line 79, ../sass/_in-recherche.scss */
.gist {
  font-size: 14px;
}

/* line 83, ../sass/_in-recherche.scss */
.bout-recherche {
  margin-top: 10px;
}

/*.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}*/
/* line 22, ../sass/_in-tags.scss */
.tokenize .uk-input {
  padding: 0 5px 0 5px;
}
/* line 24, ../sass/_in-tags.scss */
.tokenize .uk-input .token {
  line-height: normal;
  margin: 0 5px 5px 0;
}
/* line 29, ../sass/_in-tags.scss */
.tokenize .uk-input .token-search {
  display: inline-block;
  margin: 0 5px 5px 0;
  position: relative;
  vertical-align: middle;
  line-height: normal;
}
/* line 35, ../sass/_in-tags.scss */
.tokenize .uk-input .token-search input {
  font-size: 16px;
  color: #666;
}

/* line 43, ../sass/_in-tags.scss */
.tokenize-dropdown {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
/* line 46, ../sass/_in-tags.scss */
.tokenize-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 51, ../sass/_in-tags.scss */
.tokenize-dropdown ul li {
  padding: 0 5px;
}
/* line 55, ../sass/_in-tags.scss */
.tokenize-dropdown ul li.active {
  background-color: #1e87f0;
}
/* line 57, ../sass/_in-tags.scss */
.tokenize-dropdown ul li.active a {
  color: #fff;
}

/* line 4, ../sass/styles.scss */
.uk-navbar-nav a.uk-active {
  color: #333333;
  pointer-events: none;
}
/* line 7, ../sass/styles.scss */
.uk-navbar-nav a.uk-active:focus {
  color: #333333;
}

/* line 12, ../sass/styles.scss */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

/* line 15, ../sass/styles.scss */
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* line 20, ../sass/styles.scss */
#dataJson {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dadada;
  padding: 0 10px 5px 10px;
  font-size: 12px;
}

/* line 29, ../sass/styles.scss */
#gedInstance .uk-sticky-placeholder:nth-child(2) {
  display: none;
}

/* line 33, ../sass/styles.scss */
#contLogin {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  top: 0;
  left: 0;
  padding-top: 200px;
}
/* line 43, ../sass/styles.scss */
#contLogin > div {
  border: 1px solid #0f7ae5;
  max-width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.38);
}
/* line 53, ../sass/styles.scss */
#contLogin > div form {
  padding: 10px;
}
/* line 57, ../sass/styles.scss */
#contLogin > div .titre-login {
  text-align: center;
  background-color: #0f7ae5;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 5px;
  margin-bottom: 20px;
}
/* line 66, ../sass/styles.scss */
#contLogin > div .cont-bout-connexion {
  text-align: center;
  padding: 20px 0;
}

/* line 73, ../sass/styles.scss */
.droppable {
  background: #08c;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

/* line 79, ../sass/styles.scss */
.droppable.dragover {
  background: #00CC71;
}

/*#navBar {
    top: 0;
    left: 0;
    width: 100%;
}*/
