/* line 3, ../sass/_in-recherche.scss */
input.autocomplete {
  width: 430px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
  -webkit-appearance: none;
  max-width: 100%;
  border: 0 none;
  padding: 0 6px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 38px;
  overflow: visible;
}
/* line 25, ../sass/_in-recherche.scss */
input.autocomplete::-moz-placeholder, input.autocomplete::-ms-input-placeholder, input.autocomplete::-webkit-input-placeholder {
  opacity: 1;
  color: #999;
}
/* line 31, ../sass/_in-recherche.scss */
input.autocomplete:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}
/* line 37, ../sass/_in-recherche.scss */
input.autocomplete.tt-hint {
  color: #999;
}

/* line 42, ../sass/_in-recherche.scss */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 48, ../sass/_in-recherche.scss */
.tt-menu {
  text-align: left;
  width: 430px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 58, ../sass/_in-recherche.scss */
.tt-suggestion {
  padding: 3px;
}

/* line 64, ../sass/_in-recherche.scss */
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

/* line 70, ../sass/_in-recherche.scss */
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* line 75, ../sass/_in-recherche.scss */
.tt-suggestion p {
  margin: 0;
}

/* line 79, ../sass/_in-recherche.scss */
.gist {
  font-size: 14px;
}

/* line 83, ../sass/_in-recherche.scss */
.bout-recherche {
  margin-top: 10px;
}

/* line 3, ../sass/styles.scss */
.uk-navbar-nav a.uk-active {
  color: #333333;
  pointer-events: none;
}
/* line 6, ../sass/styles.scss */
.uk-navbar-nav a.uk-active:focus {
  color: #333333;
}

/* line 11, ../sass/styles.scss */
#dataJson {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dadada;
  padding: 0 10px 5px 10px;
  font-size: 12px;
}

/* line 20, ../sass/styles.scss */
#gedInstance .uk-sticky-placeholder:nth-child(2) {
  display: none;
}

/*#navBar {
    top: 0;
    left: 0;
    width: 100%;
}*/
