/* line 38, ../sass/_spacers.scss */
.m-0 {
  margin: 0 0 !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-0 {
  margin-right: 0 !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-0 {
  margin-left: 0 !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* line 47, ../sass/_spacers.scss */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 38, ../sass/_spacers.scss */
.m-1 {
  margin: 0.25rem 0.25rem !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-1 {
  margin-top: 0.25rem !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-1 {
  margin-right: 0.25rem !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-1 {
  margin-bottom: 0.25rem !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-1 {
  margin-left: 0.25rem !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

/* line 47, ../sass/_spacers.scss */
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* line 38, ../sass/_spacers.scss */
.m-2 {
  margin: 0.5rem 0.5rem !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-2 {
  margin-top: 0.5rem !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-2 {
  margin-right: 0.5rem !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-2 {
  margin-bottom: 0.5rem !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-2 {
  margin-left: 0.5rem !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

/* line 47, ../sass/_spacers.scss */
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

/* line 38, ../sass/_spacers.scss */
.m-3 {
  margin: 1rem 1rem !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-3 {
  margin-top: 1rem !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-3 {
  margin-right: 1rem !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-3 {
  margin-bottom: 1rem !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-3 {
  margin-left: 1rem !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

/* line 47, ../sass/_spacers.scss */
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

/* line 38, ../sass/_spacers.scss */
.m-4 {
  margin: 1.5rem 1.5rem !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-4 {
  margin-top: 1.5rem !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-4 {
  margin-right: 1.5rem !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-4 {
  margin-left: 1.5rem !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

/* line 47, ../sass/_spacers.scss */
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

/* line 38, ../sass/_spacers.scss */
.m-5 {
  margin: 3rem 3rem !important;
}

/* line 39, ../sass/_spacers.scss */
.mt-5 {
  margin-top: 3rem !important;
}

/* line 40, ../sass/_spacers.scss */
.mr-5 {
  margin-right: 3rem !important;
}

/* line 41, ../sass/_spacers.scss */
.mb-5 {
  margin-bottom: 3rem !important;
}

/* line 42, ../sass/_spacers.scss */
.ml-5 {
  margin-left: 3rem !important;
}

/* line 43, ../sass/_spacers.scss */
.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

/* line 47, ../sass/_spacers.scss */
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* line 38, ../sass/_spacers.scss */
.p-0 {
  padding: 0 0 !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 43, ../sass/_spacers.scss */
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* line 47, ../sass/_spacers.scss */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 38, ../sass/_spacers.scss */
.p-1 {
  padding: 0.25rem 0.25rem !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-1 {
  padding-top: 0.25rem !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-1 {
  padding-right: 0.25rem !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-1 {
  padding-bottom: 0.25rem !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-1 {
  padding-left: 0.25rem !important;
}

/* line 43, ../sass/_spacers.scss */
.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

/* line 47, ../sass/_spacers.scss */
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

/* line 38, ../sass/_spacers.scss */
.p-2 {
  padding: 0.5rem 0.5rem !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-2 {
  padding-top: 0.5rem !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-2 {
  padding-right: 0.5rem !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-2 {
  padding-bottom: 0.5rem !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-2 {
  padding-left: 0.5rem !important;
}

/* line 43, ../sass/_spacers.scss */
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

/* line 47, ../sass/_spacers.scss */
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* line 38, ../sass/_spacers.scss */
.p-3 {
  padding: 1rem 1rem !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-3 {
  padding-top: 1rem !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-3 {
  padding-right: 1rem !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-3 {
  padding-bottom: 1rem !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-3 {
  padding-left: 1rem !important;
}

/* line 43, ../sass/_spacers.scss */
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

/* line 47, ../sass/_spacers.scss */
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* line 38, ../sass/_spacers.scss */
.p-4 {
  padding: 1.5rem 1.5rem !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-4 {
  padding-top: 1.5rem !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-4 {
  padding-right: 1.5rem !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-4 {
  padding-bottom: 1.5rem !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-4 {
  padding-left: 1.5rem !important;
}

/* line 43, ../sass/_spacers.scss */
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

/* line 47, ../sass/_spacers.scss */
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

/* line 38, ../sass/_spacers.scss */
.p-5 {
  padding: 3rem 3rem !important;
}

/* line 39, ../sass/_spacers.scss */
.pt-5 {
  padding-top: 3rem !important;
}

/* line 40, ../sass/_spacers.scss */
.pr-5 {
  padding-right: 3rem !important;
}

/* line 41, ../sass/_spacers.scss */
.pb-5 {
  padding-bottom: 3rem !important;
}

/* line 42, ../sass/_spacers.scss */
.pl-5 {
  padding-left: 3rem !important;
}

/* line 43, ../sass/_spacers.scss */
.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

/* line 47, ../sass/_spacers.scss */
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* line 55, ../sass/_spacers.scss */
.m-auto {
  margin: auto !important;
}

/* line 56, ../sass/_spacers.scss */
.mt-auto {
  margin-top: auto !important;
}

/* line 57, ../sass/_spacers.scss */
.mr-auto {
  margin-right: auto !important;
}

/* line 58, ../sass/_spacers.scss */
.mb-auto {
  margin-bottom: auto !important;
}

/* line 59, ../sass/_spacers.scss */
.ml-auto {
  margin-left: auto !important;
}

/* line 60, ../sass/_spacers.scss */
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* line 64, ../sass/_spacers.scss */
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Regular-webfont.eot");
  src: url("OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular-webfont.woff") format("woff"), url("OpenSans-Regular-webfont.ttf") format("truetype"), url("OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Italic-webfont.eot");
  src: url("OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Italic-webfont.woff") format("woff"), url("OpenSans-Italic-webfont.ttf") format("truetype"), url("OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Light-webfont.eot");
  src: url("OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Light-webfont.woff") format("woff"), url("OpenSans-Light-webfont.ttf") format("truetype"), url("OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-LightItalic-webfont.eot");
  src: url("OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-LightItalic-webfont.woff") format("woff"), url("OpenSans-LightItalic-webfont.ttf") format("truetype"), url("OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Semibold-webfont.eot");
  src: url("OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Semibold-webfont.woff") format("woff"), url("OpenSans-Semibold-webfont.ttf") format("truetype"), url("OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-SemiboldItalic-webfont.eot");
  src: url("OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Bold-webfont.eot");
  src: url("OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Bold-webfont.woff") format("woff"), url("OpenSans-Bold-webfont.ttf") format("truetype"), url("OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-BoldItalic-webfont.eot");
  src: url("OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-BoldItalic-webfont.woff") format("woff"), url("OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-ExtraBold-webfont.eot");
  src: url("OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-ExtraBold-webfont.woff") format("woff"), url("OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* line 6, ../sass/styles-bs.scss */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

/* line 12, ../sass/styles-bs.scss */
.contenu {
  padding: 40px 15px;
}

/* line 17, ../sass/styles-bs.scss */
#loginForm {
  background-color: #ffffff;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #C9CDCB;
}
/* line 25, ../sass/styles-bs.scss */
#loginForm h2 {
  text-align: center;
  font-weight: 300;
}

/* line 34, ../sass/styles-bs.scss */
#searchResults .search-result {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 2px #C9CDCB;
  position: relative;
  padding: 15px 15px 15px 50px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
}
/* line 45, ../sass/styles-bs.scss */
#searchResults .search-result:hover {
  box-shadow: 4px 4px 3px #C9CDCB;
}
/* line 49, ../sass/styles-bs.scss */
#searchResults .search-result .type-doc {
  -moz-border-radius: 4px 0px 0px 4px / 4px 0px 0px 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px 0px 0px 4px / 4px 0px 0px 4px;
  font-weight: bold;
  padding-top: 25px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 40px;
  background-color: #85929C;
  height: calc(100% - 2px);
}
/* line 62, ../sass/styles-bs.scss */
#searchResults .search-result .type-doc.pdf {
  background-color: #E55951;
}
/* line 65, ../sass/styles-bs.scss */
#searchResults .search-result .path {
  color: #767B7D;
}
/* line 70, ../sass/styles-bs.scss */
#searchResults .search-result .title {
  padding-top: 5px;
  color: #2D70AB;
  font-size: 18px;
}
/* line 76, ../sass/styles-bs.scss */
#searchResults .search-result .content {
  padding-top: 5px;
}
/* line 80, ../sass/styles-bs.scss */
#searchResults .search-result .footer {
  padding-top: 10px;
  font-size: 12px;
}
/* line 84, ../sass/styles-bs.scss */
#searchResults .search-result .footer b {
  display: inline-block;
  padding-right: 15px;
}
