@import "compass/css3/border-radius";
@import "spacers";
@import "police";
@import "copic";
@import "page-login";
@import "searchResults";
@import 'in-recherche';
@import 'in-tags';
@import 'affichageDoc';

html {
    margin:0;
    padding:0;
    background: url(../images/bg2.jpg) no-repeat center fixed; 
    background-color: #eee;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: transparent;
    height: 100%;
    margin: 0;
}

.texteGris {
    color: $CN4;
}

#gedInstance {
    min-height: 100%;
    &.gris {
        background-color: #eeeeee;    
    }
}

.contenu {
    padding: 40px 15px;    
}



#dataJson {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dadada;
    padding: 0 10px 5px 10px;
    font-size: 12px;
}

/*#gedInstance .uk-sticky-placeholder:nth-child(2){
   display:none;
}*/

/*#navBar {
    top: 0;
    left: 0;
    width: 100%;
}*/



