@import 'in-recherche';
@import 'in-tags';

.uk-navbar-nav a.uk-active {
    color: #333333;
    pointer-events: none;
    &:focus {
        color: #333333;
    }
}

#dataJson {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dadada;
    padding: 0 10px 5px 10px;
    font-size: 12px;
}

#gedInstance .uk-sticky-placeholder:nth-child(2){
   display:none;
}

  .droppable {
    background: #08c;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  .droppable.dragover {
    background: #00CC71;
  }

/*#navBar {
    top: 0;
    left: 0;
    width: 100%;
}*/



