<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Ged</title>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="vendor/uiKit/uikit.min.css" />
        <link rel="stylesheet" href="css/jqcloud.css" />
        <link rel="stylesheet" href="vendor/tokenize/tokenize2.css">
        <link rel="stylesheet" href="vendor/fileUploader/jquery.fileuploader.css" />
        <link rel="stylesheet" href="css/styles.css" />

        <!-- jQuery is required -->
        <script src="vendor/jQuery/jquery.min.js"></script>

        <!-- UIkit JS -->
        <script src="vendor/uiKit/uikit.js"></script>
        <script src="vendor/uiKit/uikit-icons.min.js"></script>
        <script src="vendor/vue/vue.min.js"></script>
        <script src="vendor/vue/vue-router.js"></script>
        <script src="vendor/jqCloud/jqcloud.min.js"></script>
        <script src="vendor/typeAhead/typeahead.bundle.min.js"></script>
        <script src="vendor/tokenize/tokenize2.js"></script>
        <script src="vendor/fileUploader/jquery.fileuploader.min.js"></script>
        <script src="vendor/ckeditor/ckeditor.js"></script>
        <script src="vendor/ckeditor/adapters/jquery.js"></script>
        <script src="js/donnees.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div id="gedInstance">
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><router-link to="/recherche">Recherche</router-link></li>
                        <li><router-link to="/tags">Tags</router-link></li>
                        <li><router-link to="/arborescence">Arborescence</router-link></li>
                        <li><router-link to="/ajout">Ajout</router-link></li>
                        <li><router-link to="/configuration">Configuration</router-link></li>
                    </ul>
                    
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item">
                        {{ utilisateur.nom }} &nbsp;
                        <a href="#" v-on:click="onDisconnect">[Déconnexion]</a>
                    </div>
                </div>
            </nav>
            <div class="uk-container-small uk-align-center">
                <router-view></router-view>
            </div>
            
            <!--<div id="dataJson">
                {{ $data | json }}
            </div>-->
        </div>
        <!--<div class="uk-container-small uk-align-center">
            
        </div>-->
            
        <script type="text/x-template" id="page-login-template">
            <div id="contLogin">
                <div class="uk-container-small uk-align-center">
                    <div class="titre-login">CONNEXION</div>
                    <form class="uk-form-stacked" v-on:submit.prevent="onSubmit" action="foo">
                        <div>
                            <label class="uk-form-label">Login</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="text" placeholder="Login..." v-model="login">
                            </div>
                            <label class="uk-form-label">Mot de passe</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="password" placeholder="Mot de passe..." v-model="password">
                            </div>
                            <div class="cont-bout-connexion">
                                <div uk-spinner v-show="loginEnCours"></div>
                                <button class="uk-button uk-button-primary" v-on:click="onSubmit" v-show="!loginEnCours">Se Connecter</button>
                            </div>
                            <transition name="fade">
                                <div class="uk-alert-danger" uk-alert v-if="!loginValide && !loginEnCours">
                                    <p>Informations de connexion incorrectes !</p>
                                </div>
                            </transition>
                        </div>
                    </form>
                </div>
            </div>
        </script> 
        
        <script type="text/x-template" id="page-recherche-template">
            <div class="uk-margin uk-text-center">
                <in-recherche v-on:change="lanceRecherche"></in-recherche><br>
                <button class="uk-button uk-button-default uk-button-small bout-recherche">Chercher</button>
            </div>
        </script>
        <script type="text/x-template" id="page-tags-template">
            <nuage-tags :tags="tags"></nuage-tags>
        </script>
        <script type="text/x-template" id="page-arborescence-template">
            <ul class="uk-breadcrumb">
                <li><a href="#">Procédures</a></li>
                <li><a href="#">Applications</a></li>
                <li><span href="#">Ciril</span></li>
            </ul>
        </script>
        <script type="text/x-template" id="page-ajout-template">
            <div>
                <form class="uk-form-stacked">
                    <div uk-grid>
                        <div>
                            <label class="uk-form-label" for="form-horizontal-select">Catégorie</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-horizontal-select" v-model="chemin1">
                                    <option disabled value="">Choisir une catégorie</option>
                                    <option v-for="choix in choixChemin1" :value="choix.id">{{ choix.texte }}</option>
                                </select>
                            </div>
                        </div>
                        <div v-show="chemin1 != ''">
                            <label class="uk-form-label" for="form-horizontal-select">{{ nomChemin2 }}</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-horizontal-select" v-model="chemin2">
                                    <option disabled value="">Choisir une catégorie</option>
                                    <option v-for="choix in choixChemin2" :value="choix.id">{{ choix.texte }}</option>
                                </select>
                            </div>
                        </div>
                        <div v-show="chemin2 != ''">
                            <label class="uk-form-label" for="form-horizontal-select">{{ nomChemin3 }}</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-horizontal-select" v-model="chemin3">
                                    <option disabled value="">Choisir une catégorie</option>
                                    <option v-for="choix in choixChemin3" :value="choix.id">{{ choix.texte }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Titre</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Titre...">
                        </div>
                    </div>
                    
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Tags</label>
                        <div class="uk-form-controls">
                            <in-tags></in-tags>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-primary uk-button-small" v-bind:class="{ 'uk-active': !isWiki }" v-on:click="isWiki = false">Fichier</button>
                            <button class="uk-button uk-button-primary uk-button-small" v-bind:class="{ 'uk-active': isWiki }" v-on:click="isWiki = true">Wiki</button>
                        </div>
                    </div>
                    <div class="uk-margin" v-show="!isWiki">
                        <label class="uk-form-label" for="form-stacked-text">Fichier</label>
                        <div class="uk-form-controls">
                            <in-fichier></in-fichier>
                        </div>
                    </div>
                    <div class="uk-margin" v-show="isWiki">
                        <label class="uk-form-label" for="form-stacked-text">Wiki</label>
                        <div class="uk-form-controls">
                            <in-wiki v-model="inWiki"></in-wiki>
                        </div>
                    </div>
                </form>
            </div>
        </script>
        <script type="text/x-template" id="page-configuration-template">
            <ul uk-accordion>
                <li class="uk-open">
                    <h3 class="uk-accordion-title">Droits</h3>
                    
                    <div class="uk-accordion-content">
                        <table class="uk-table uk-table-small uk-table-divider">
                            <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th class="uk-width-small">Droit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="utilisateur in utilisateurs">
                                    <td>{{ utilisateur.nom }}</td>
                                    <td>
                                    <button class="uk-button uk-button-default uk-button-small"
                                            v-if="utilisateur.niveau == 0" 
                                            v-on:click="majUtilisateur(utilisateur, $event)">
                                        Lecteur
                                    </button>
                                    <button class="uk-button uk-button-primary uk-button-small"
                                            v-if="utilisateur.niveau == 1"
                                            v-on:click="majUtilisateur(utilisateur, $event)">
                                            Rédacteur
                                    </button>
                                    <button class="uk-button uk-button-secondary uk-button-small"
                                            v-if="utilisateur.niveau == 2"
                                            v-on:click="majUtilisateur(utilisateur, $event)">
                                            Admin
                                    </button>
                                </tr>
                            </tbody>
                        </table>
                        <in-utilisateur v-on:input="submitUtilisateur" v-model="nouvelUtilisateur" inactifs></in-utilisateur>
                       
                    </div>
                </li>
                <li>
                    <h3 class="uk-accordion-title">Types de documents et catégories liées</h3>
                    <div class="uk-accordion-content">
                        <div uk-grid>
                            <div v-for="type in types">
                                {{ type.nom }}<br>
                                
                                <select class="uk-select uk-form-width-small uk-form-small"  v-model="type.nouvelleCategorie">
                                    <option v-for="categorie in categories" :value="categorie.num_categorie">{{ categorie.nom }}</option>
                                </select>
                                <a href="" uk-icon="icon: plus-circle" v-on:click="submitCategorieType(type, $event)"></a>
                                <ul class="uk-list uk-list-bullet">
                                    <li v-for="categorie in type.categories">{{ categorie }}</li>
                                </ul>
                                
                            </div>
                            <div>
                                <input 
                                    class="uk-input uk-form-width-small uk-form-small"
                                    type="text"
                                    placeholder="Nouveau type"
                                    v-model="nouveauType"
                                    v-on:keyup.enter="submitType"
                                >
                                <a href="" uk-icon="icon: plus-circle" v-on:click="submitType"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="uk-accordion-title">Catégories</h3>
                    <div class="uk-accordion-content">
                        <div v-for="categorie in categories">
                            <!--<a href="" uk-icon="icon: pencil"></a>--> {{ categorie.nom }}
                        </div>
                        <div class="uk-margin-top">
                            <input 
                                class="uk-input uk-form-width-medium uk-form-small"
                                type="text"
                                placeholder="Nouvelle catégorie"
                                v-model="nouvelleCategorie"
                                v-on:keyup.enter="submitCategorie"
                            >
                            <a href="" uk-icon="icon: plus-circle" v-on:click="submitCategorie"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </script>
    </body>
</html>
