@import "spacers";
@import "police";
@import "copic";
@import "page-login";
@import "searchResults";
@import 'in-recherche';
@import 'in-tags';
@import 'affichageDoc';

html {
    margin:0;
    padding:0;
    background: url(images/bg2.jpg) no-repeat center fixed; 
    background-color: #eee;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: transparent;
    height: 100%;
    margin: 0;
}

a {
   outline: 0;
}

.texteGris {
    color: $CN4;
}
.texteGrisClair {
    color: $CN2;
}
.texteRouge {
    color: $CR17;   
}

.fondBlanc {
  background-color: #ffffff;
}

.souligne {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

button.texteRouge {
  &:hover {
    color: $CR89;
  }
}

.texteCentre {
  text-align: center;
}

.texteDroite {
  text-align: right;
}

#gedInstance {
    min-height: 100%;
    &.gris {
        background-color: #eeeeee;    
    }
}

#message {
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 100px;
  background-color: #ffffff;
  z-index: 3000;
  padding: 60px 10px 10px 65px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 10px rgba($CW9, 0.7);
  
  i {
    position: absolute;
    color: $CG14;
    top: 40px;
    left: 10px;
  }
  
  &.visible {
    top: -40px;
  }
  
  &.invisible {
    top: -100px;
  }
  
}

#loading {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10px;
  left: 0;
  color: $CN4;
  
  div {
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -3px;
    font-size: 11px;
    font-weight: bold;
  }
}

.contenu {
    padding: 40px 15px;    
}



#dataJson {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dadada;
    padding: 0 10px 5px 10px;
    font-size: 12px;
}

/*#gedInstance .uk-sticky-placeholder:nth-child(2){
   display:none;
}*/

/*#navBar {
    top: 0;
    left: 0;
    width: 100%;
}*/



